
/*  GLOBAL  */
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #e4e4e4;

}

h1, h2, h3, h4, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

img {
    display: block;
    max-width: 100%;
}

/*  HEADER */

.header-bg {
    background: linear-gradient(107.03deg, #2C2A76 -0.58%, #7541A4 100%);
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.header {
    position: relative;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
}

.header__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.header__links a {
    padding: 8px 0px;
    font-size: 1.2rem;
    border-bottom: 2px solid #e94e7f00;
    transition: .2s;
}

.header__links a:hover {
    border-color: #E94E80;
}

.brand-logo {
    color: white;
    font-size: 1.5rem;
    padding: 8px 0px;
}

.header__conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding-top: 180px;
    padding-bottom: 230px;
}

.header__conteudo h1 {
    color: white;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 30px;
}

.header__conteudo h1 span {
    color: #E94E80;
}

.header__conteudo p {
    color: #e4e4e4;
    font-size: 2rem;
    max-width: 28ch;
    line-height: 1.3;
    margin-bottom: 50px;
}

.botao-header {
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
    color: #E94E80;
    border: 2px solid #E94E80;
    display: inline-block;
    transition: .2s;
}

.botao-header:hover {
    color: #b12753;
    border-color: #b12753;
}

.header::after{
    content: '';
    display: block;
    width: 48px;
    height: 48px;
    background: url("../images/icons/expand_more_FILL0_wght400_GRAD0_opsz48.svg") no-repeat;
    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(127deg) brightness(109%) contrast(100%);
    transition: .2s;
    position: absolute;
    bottom: 15px;
    left: 50%;
}

@media (max-width: 1260px) {
    .header__conteudo h1 {
        max-width: 12ch;
    }
}

@media (max-width: 1000px) {
    .header__conteudo h1 {
        font-size: 2.5rem;
    }
    .header__conteudo p {
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    .header__conteudo {
        grid-template-columns: 1fr;
        padding-top: 60px;
    }
    .header__conteudo h1,
    .header__conteudo p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: initial;
    }
    .header__conteudo > img {
        margin-left: auto;
        margin-right: auto;
    }
    .botao-header {
        display: none;
    }
}

@media (max-width: 550px) {
    .header__conteudo h1 {
        font-size: 1.8rem;
    }
    .header__conteudo p {
        font-size: 1.35rem;
    }
/* MAIN */

.sobremin {
    height: 500px;
}